<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      rubyslist > jobs > accounting
    </div>
  </div>
</div>
<div class="container">
  <div id="contact-area">

    <%= form_for @listing do |f| %>
    <!-- taken from schem.rb -->
    <%= f.label :title %>
    <%= f.text_field :title %> <!-- use text field when body is just 1 line -->

    <%= f.label :description %>
    <%= f.text_area :description %> <!-- more for paragraphs -->

    <p>
      <%= f.label :category_id %>
      <%= f.select :category_id, Category.all.map{ |f| [f.name, f.id]} %>
    </p>

    <p>
      <%= f.label :subcategroy_id %>
      <%= f.select :subcategroy_id, Subcategory.all.map{ |f| [f.name, f.id]} %>
    </p>

    <%= f.label :city %>
    <%= f.text_field :city %>

    <%= f.label :state %>
    <%= f.text_field :state %>

    <%= f.label :zipcode %>
    <%= f.text_field :zipcode, class: "zip-width", maxlength: "5" %> <!-- just a class he made in the CSS file -->

    <%= f.submit class: "create-button"%>

    <% end %>
  </div>
</div>
