<div class="container">
  <div class="leftbar">
    <a href="#"><h1>BettrList</h1></a>
    <ul>
      <%= link_to 'post a classifieds', new_listing_path %> <!-- gotten from rake routes then see new_listing on left, add path at end-->
      <li>my account</li>
    </ul>
    <form>
      <p>search BettrList</p>
      <input type="text" name="firstname" placeholder="search" size="20">
      <br>
      <input type="text" name="firstname" placeholder="where" size="20">
      <br>
    </form>
  </div>
  <div class="center-column" >
    <div class="center-one">
      <table>
        <tr>
          <th class="table-header"><%= link_to 'community', category_path(@community) %></th> <!-- 'show' community parameter from rake routes -->
        </tr>
        <tr>
          <td>
            <!--list all subcategories-->
            <% @community.subcategories.each do |subcategory| %>
            <ul class="left-list">
              <li><%= link_to subcategory.name, category_subcategory_path(@community, subcategory) %></li> <!-- passes in community id, subcategory id-->
            </ul>
            <% end %>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <th class="table-header"><%= link_to 'personals', category_path(@personals) %></th>
        </tr>
        <tr>
          <td>
            <ul>
              <% @personals.subcategories.each do |subcategory| %>
              <ul class="left-list">
                <li><%= link_to subcategory.name, category_subcategory_path(@personals, subcategory) %></li>
              </ul>
              <% end %>
            </ul>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <th class="table-header"><%= link_to 'services', category_path(@services) %></th>
        </tr>
        <tr>
          <td>
            <ul class="left-list">
              <% @services.subcategories.each do |subcategory| %>
              <ul class="left-list">
                <li><%= link_to subcategory.name, category_subcategory_path(@services, subcategory) %></li>
              </ul>
              <% end %>
            </ul>
          </td>
        </tr>
      </table>
    </div>
    <div class="center-two">
      <table>
        <tr>
          <th class="table-header"><%= link_to 'housing', category_path(@housing) %></th>
        </tr>
        <tr>
          <td>
            <% @housing.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name, category_subcategory_path(@housing, subcategory) %></li>
            </ul>
            <% end %>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <th class="table-header"><%= link_to 'for sale', category_path(@for_sale) %></th>
        </tr>
        <tr>
          <td>
            <ul class="left-list">
              <% @for_sale.subcategories.each do |subcategory| %>
              <ul class="left-list">
                <li><%= link_to subcategory.name, category_subcategory_path(@for_sale, subcategory) %></li>
              </ul>
              <% end %>
            </ul>
          </td>
        </tr>
      </table>
    </div>
    <div class="center-three">
      <table>
        <tr>
          <th class="table-header"><%= link_to 'jobs', category_path(@jobs) %></th>
        </tr>
        <tr>
          <td>
            <ul>
              <% @jobs.subcategories.each do |subcategory| %>
              <ul class="left-list">
                <li><%= link_to subcategory.name, category_subcategory_path(@jobs, subcategory) %></li>
              </ul>
              <% end %>
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="rightbar">
    <ul class="rightbar-top">
      <!-- TODO: REPLACED WITH BELOW <li>help and faq</li>-->
      <li><%= link_to 'help and faq', help_path%></li>
      <li><%= link_to 'avoid scams and fraud', scams_path%></li>
      <li><%= link_to 'personal safety tips', safety_path%></li>
      <li class="rightbar-top"><%= link_to 'Terms of Use', terms_path%></li>
      <li><%= link_to 'privacy policy', privacy_path%></li>
      <li><%= link_to 'about BettrList', about_path%></li>
      <li><%= link_to 'Contact Us', contact_path%></li>
    </ul>
  </div>
</div>
