<div class="container">
  <div class="leftbar">
    <a href="#"><h1>BettrList</h1></a>
    <ul>
      <a href="#">post to classifieds</a>
      <li>my account</li>
    </ul>
    <form>
      <p>search BettrList</p>
      <input type="text" name="firstname" placeholder="search" size="20">
      <br>
      <input type="text" name="firstname" placeholder="where" size="20">
      <br>
    </form>
  </div>
  <div class="center-column" >
    <div class="center-one">
      <table>
        <tr>
          <th class="table-header">community</th>
        </tr>
        <tr>
          <td>
            <ul class="left-list">
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
            </ul>
            <ul class="right-list">
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
            </ul>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <th class="table-header">personals</th>
        </tr>
        <tr>
          <td>
            <ul>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
            </ul>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <th class="table-header">services</th>
        </tr>
        <tr>
          <td>
            <ul class="left-list">
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
            </ul>
            <ul class="right-list">
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
    <div class="center-two">
      <table>
        <tr>
          <th class="table-header">housing</th>
        </tr>
        <tr>
          <td>
            <ul>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
            </ul>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <th class="table-header">for sale</th>
        </tr>
        <tr>
          <td>
            <ul class="left-list">
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
            </ul>
            <ul class="right-list">
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
    <div class="center-three">
      <table>
        <tr>
          <th class="table-header">jobs</th>
        </tr>
        <tr>
          <td>
            <ul>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="rightbar">
    <ul class="rightbar-top">
      <!-- TODO: REPLACED WITH BELOW <li>help and faq</li>-->
      <li><%= link_to 'help and faq', help_path%></li>
      <li><%= link_to 'avoid scams and fraud', scams_path%></li>
      <li><%= link_to 'personal safety tips', safety_path%></li>
      <li class="rightbar-top"><%= link_to 'Terms of Use', terms_path%></li>
      <li><%= link_to 'privacy policy', privacy_path%></li>
      <li><%= link_to 'about BettrList', about_path%></li>
      <li><%= link_to 'Contact Us', contact_path%></li>
    </ul>
  </div>
</div>
